@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:400,700');
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background: #fff0e2;
    font-family: 'Playfair', serif;
}

img {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

a {
    color: #fff0e2;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
li,
ul,
figure,
footer {
    margin: 0;
    padding: 0;
    font-weight: normal;
    display: block;
}

h1 {
    font-family: 'Lobster', cursive;
}

h5 {
    background: #000000;
    color: #fff0e2;
    padding: 4px;
    margin: auto;
    font-size: calc(1rem + .5vmax);
}

figcaption h4 {
    font-size: calc(1rem + .3vmax);
    line-height: 1.5;
    padding: 0 5% 15px;
    font-weight: bold;
}

footer {
    width: 100vw;
    background: #000000;
    padding: 0 3vw;
    color: #fff0e2;
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid #fff0e2;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container-relative {
    position: relative;
}

.nav-header {
    text-align: center;
}

.header-body {
    display: flex;
    width: 100vw;
    background: #000000;
    color: #fff0e2;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #fff0e2;
    z-index: 10;
}

.logo {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.25rem;
    letter-spacing: 0.05rem;
    font-style: italic;
}

.nav-header li {
    text-decoration: underline;
    list-style-type: none;
    margin: 15px auto;
    font-size: 1.25rem;
    display: inline-block;
}

.nav-header li:hover {
    cursor: pointer;
}

.jumbotron {
    width: 100%;
    overflow: hidden;
    color: #fff0e2;
    max-height: 100vh;
}

.jumbotron img {
    height: 100vh;
    min-width: 100vw;
    width: auto;
}

.jumbotron .container-relative {
    height: 100px;
    bottom: 75vh;
    width: 70%;
    margin-left: 10vw;
    opacity: .8;
    padding: 15px;
    font-size: calc(.75em + 2vw);
}

.section-linked {
    padding: 60px 0 30px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.section-linked h1 {
    margin: 0 0 5vh 20vw;
    font-size: calc(2em + 4vmax);
    width: 100%;
}

.section-linked h1:after {
    display: block;
    content: '';
    position: relative;
    width: 80vw;
    margin-top: 2px;
    border-top: calc(.05em + 0.3vh) solid #000000;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.info {
    text-align: center;
    background: #000000;
    color: #fff0e2;
}

.flex-stretch-align {
    align-items: stretch;
}

.info h3 {
    font-style: italic;
    font-family: 'Lobster', cursive;
    font-size: calc(1rem + 2vmax);
    margin: 20px 0;
}

.info p {
    font-size: calc(1rem + .5vmax);
    margin: 15px 10px;
}

.contact-info {
    font-weight: bold;
    margin-right: 10px;
}

.flex-collumn {
    flex-direction: column;
    flex-wrap: nowrap;
}

@media screen and (max-width: 429px) {
    .logo {
        position: fixed;
        top: 0;
        right: 0;
        background: #000000ff;
        width: 100%;
        height: 70px;
        padding-top: 15px;
        border-bottom: 1px solid #fff0e2;
        opacity: .75;
        z-index: 10;
    }
    .nav-header {
        width: 50vw;
        margin: 70px auto 0px;
    }
    .nav-header a {
        display: block;
        margin: 0;
        padding: 10px;
        border-bottom: 1px dashed #fff0e2;
    }
    .nav-header a:last-child {
        border: none;
    }
    .section-linked figure {
        width: 90vw;
        max-height: 100vh;
    }
    .section-linked figure:nth-child(2n) {
        margin-left: 10vw;
        padding: 10px 0;
    }
    .section-linked figure img {
        width: 100%;
    }
    .info {
        width: 100%;
        margin-bottom: 5vh;
    }
}

@media screen and (max-height: 380px) {
    footer {
        position: static;
    }
    .jumbotron .container-relative {
        width: 90%;
    }
}

@media screen and (min-width: 430px) {
    .header-body {
        top: 0;
        right: 0;
        background: #000000ff;
        position: fixed;
        width: 100vw;
        height: 70px;
        padding: 0 2vw;
        opacity: .75;
    }
    .logo {
        margin-left: 1vw;
    }
    .nav-header li {
        font-size: calc(1em + 1vw);
        margin: 0 1vw;
    }
    .info {
        width: 45%;
    }
}

@media screen and (min-width: 430px) and (orientation: portrait) {
    .section-linked figure {
        width: 99vw;
        height: auto;
        margin: 5vh auto;
    }
}

@media screen and (min-width: 430px) and (orientation: landscape) {
    .header-body {
        height: 60px;
    }
    .jumbotron .container-relative {
        font-size: calc(.75em + 1vw);
    }
    .normal {
        max-width: 33vw;
    }
    .wide {
        max-width: 66vw;
    }
    .section-linked figure img {
        max-height: 90vh;
        width: auto;
        max-width: 100%;
    }
    .container-flex {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1000px) {
    .info {
        width: 30%;
        margin: 0 2vw;
    }
    .flex-stretch-align {
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) and (orientation: portrait) {
    figcaption h4 {
        font-size: calc(2rem + .5vmax);
    }
}